@media screen and (max-width: 1024px) {
	header .header > *:not(.left) {
		visibility: hidden;
	}
	.container {
		margin: 0 calc(var(--index) * 2 );
	}
	.container-2 {
		margin: 0 calc(var(--index) * 1.5 );
	}
	.sell__conteiner .lightText {
		position: absolute;
		margin-left: calc(var(--index) * 1.5 );
		margin-right: calc(var(--index) * 1.5 );
	}
	.sell__conteiner {
		display: flex;
		
	
		font-family: 'Roboto', sans-serif;
		font-weight: 600;
		font-size: 35px;
	
		margin-top: 96px;
		height: max-content;
	}
	.sell__conteiner .left {
		margin-left: calc(var(--index) * 2 );
	}
}
@media screen and (min-width: 1025px) {
	.burger-butt {
		display:none !important;
		visibility: hidden;
	}
}
@media screen and (max-width:721px) {
	.hero p {
		text-align: center;
	
		font-weight: 400;
		font-size: 24px;
		line-height: 30px;
		
		padding: 10px 0 35px 0;
		margin: 0 0 -20px 0;
		border-radius: 20px 20px 0 0;
		background: rgb(31, 31, 31);
		color:#fff;
	}
	.hero {
		margin-top: 100px;
	}
	.sell__conteiner {
		display: flex;
	
		font-family: 'Roboto', sans-serif;
		font-weight: 600;
		font-size: 25px;
	
		margin-top: 15px;
		height: max-content;
	}
	.sell__conteiner .left {
		margin-left: calc(var(--index) * 2 );
		visibility: hidden;
	}
	.basement {
		margin-top: 15px;
	}
	.basement__conteiner {
		display: block;
	}

	.basement__conteiner .left img {
		display: none;
	}

	.basement__conteiner .left .left__content {
		margin: 0;
		padding-left: calc(var(--index) * 1.5 );
		padding-top: calc(var(--index) * 1.5 );
		width: 100%;
	}
	.basement__conteiner .right {
		margin-top: 0;
	}

	header .logo {
		position: absolute;
		font-weight: 700;
		font-size: 26px;
		right: 0;
	}

	.menuBurger .menuBurger__content {
		margin-top: 10vh;
		height: 80vh;
		width: calc(100vw - calc(var(--index) * 2 ));
		max-width: calc(100vw - calc(var(--index) * 2 ));
		background: rgba(255, 255, 255, 0.9);
		border-radius: 0 20px 30px 0;
	}

	.basement__conteiner .left .left__content > .button > * {
		width: calc(100vw - calc(var(--index) * 1.5 ) - calc(var(--index) * 1.5 ));
		height: 100%;
		border-radius: 10px;
		background: #EB793A;
		padding: 13px 18px;
	
		font-weight: 500;
		font-size: 15px;
		color:#fff;
	
	
		display: flex;
		align-items: center;
		justify-content: center;
	}
}